.myCustomStyle {
 background-color: red;
 border: 2px solid blue;
}



.glossy {
 background-image: linear-gradient(
  to top,
  rgba(51, 64, 102, 0.3) 0%,
  rgba(28, 39, 70, 0.3) 20%,
  rgba(31, 48, 105, 0.01) 50%,
  rgba(19, 38, 82, 0.1) 80%
);
 background-color: rgba(14, 14, 14, 0.5); 
 backdrop-filter: blur(10px); 
 border: solid 1px #6869751b;
 border-radius: 50px;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
 color: #fff;
 font-size: 1rem;
 padding: 20px 30px;
 text-align: center;
 width: fit-content;
}


